<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item is-tab is-hidden-mobile" routerLink="/master" routerLinkActive="is-active">Master</a>
      <a class="nav-item is-tab is-hidden-mobile" routerLink="/" routerLinkActive="is-active">Eventlist</a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item is-tab is-hidden-tablet">Master</a>
      <a class="nav-item is-tab is-hidden-tablet">Eventlist</a>
      <a class="nav-item is-tab">Log out</a>
    </div>
  </div>
</nav>
